/* Variables */
:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
}

/* /Variables */

/* Common styles */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.adress {
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* /Common styles */

/* Header section */

.header-logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.header-logo-color {
  color: var(--navyblue, #2e2f42);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.menu-link {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.contacts {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* /Header section */

/* Hero section */

.hero-section {
  background-color: #2e2f42;
}

.main-title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
}

.cta-btn {
  color: var(--white, #fff);
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: #404bbf;
}

/*== /Hero section==  */

/* Feature section */
.feature-title {
  color: var(--navyblue, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.feature-text {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/* /Feature section */

/* Gallery section */
.gallery-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* /Gallery section */

/* Team section */

.team-section {
  background-color: #f4f4fd;
}

.team-list-item {
  background-color: #ffffff;
}

.team-maintitle {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.team-text {
  color: var(--slate, #434455);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* /Team section */

/* Footer section */

.footer-logo {
  color: var(--iris, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-logo-color {
  color: var(--cloud, #f4f4fd);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  background-color: #2e2f42;
}

/* /Footer section */

/*======== Portfolio page ===== */

/* Header section */

.menu-link-item:hover,
.menu-link-item:focus {
  color: #404bbf;
}

/* /Header section */

/* main section */

.menu-btn {
  color: var(--iris, #4d5ae5);
  background-color: #f4f4fd;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}

.menu-btn:hover,
.menu-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* Portfolio section */
.portfolio-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.portfolio-text {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* /Portfolio section */
/* /main section */

/*======== /Portfolio page ===== */
